@charset "UTF-8";
/*
* reset style
* font style
* slick-slider style
* default style 
*/
/* 
* reset
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

/*
* font
*/
@font-face {
  font-family: 'Helvetica';
  src: url("../font/Helvetica.eot");
  src: url("../font/Helvetica.eot?#iefix") format("embedded-opentype"), url("../font/Helvetica.woff") format("woff"), url("../font/Helvetica.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BEYNO';
  src: url("../font/BEYNO.eot");
  src: url("../font/BEYNO.eot?#iefix") format("embedded-opentype"), url("../font/BEYNO.woff") format("woff"), url("../font/BEYNO.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url("../font/Lato-Light.eot");
  src: url("../font/Lato-Light.eot?#iefix") format("embedded-opentype"), url("../font/Lato-Light.woff") format("woff"), url("../font/Lato-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url("../font/Lato-Bold.eot");
  src: url("../font/Lato-Bold.eot?#iefix") format("embedded-opentype"), url("../font/Lato-Bold.woff") format("woff"), url("../font/Lato-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url("../font/Lato-Heavy.eot");
  src: url("../font/Lato-Heavy.eot?#iefix") format("embedded-opentype"), url("../font/Lato-Heavy.woff") format("woff"), url("../font/Lato-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url("../font/Lato-Regular.eot");
  src: url("../font/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("../font/Lato-Regular.woff") format("woff"), url("../font/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FontAwesome';
  src: url("../font/FontAwesome.eot");
  src: url("../font/FontAwesome.eot?#iefix") format("embedded-opentype"), url("../font/FontAwesome.woff") format("woff"), url("../font/FontAwesome.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.fa {
  font-family: 'FontAwesome';
}

/* 
* Variables
*/
/* 
* slick-slider style
*/
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* 
* default style
*/
.in-pri {
  color: #fff200;
}

.in-sec {
  color: #009dda;
}

a,
a:hover,
a:focus,
a:active,
a:visited {
  text-decoration: none;
  outline: none;
}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

.img__cover img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.img__contain img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.center {
  text-align: center;
}

body {
  font-family: "Lato";
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: .04em;
}

@media (max-width: 1024px) {
  .container {
    max-width: 500px;
  }
}

.section {
  padding: 112px 0 115px;
}

.section__header {
  font-size: 35px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: normal;
  margin-bottom: 20px;
  letter-spacing: .05em;
}

.section__txt {
  max-width: 750px;
  margin: auto;
  font-size: 14px;
  line-height: 24px;
  color: #999;
}

.section__title {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .05em;
  margin-bottom: 15px;
  color: #232323;
}

.section__title--white {
  color: #fff;
}

@media (max-width: 1024px) {
  .section {
    padding: 70px 0;
  }
  .section__header {
    font-size: 28px;
    text-align: center;
  }
  .section__txt {
    text-align: center;
  }
}

#scrolly,
body {
  position: relative;
}

body.open {
  overflow: hidden;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: #fff;
  z-index: 10;
  -webkit-box-shadow: 0px 0px 3px rgba(80, 51, 146, 0.3);
  -moz-box-shadow: 0px 0px 3px rgba(80, 51, 146, 0.3);
  box-shadow: 0px 0px 3px rgba(80, 51, 146, 0.3);
}

.header__wrapp {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 70px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.logo {
  font-family: "BEYNO";
  font-size: 30px;
  line-height: 1;
  letter-spacing: .06em;
  margin-top: 4px;
}

.logo a {
  color: #503392;
}

.navbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.search__field {
  position: relative;
  padding-right: 2px;
  padding-left: 15px;
}

.search__ipt {
  width: 180px;
  height: 31px;
  background: #e8e4f1;
  border: 1px solid #e8e4f1;
  -webkit-transition: background .5s, color .5s;
  -o-transition: background .5s, color .5s;
  -moz-transition: background .5s, color .5s;
  transition: background .5s, color .5s;
  color: #fff;
  padding-left: 10px;
  padding-right: 30px;
  display: block;
}

.search__ipt:focus {
  background: #fff;
  color: #232323;
}

.search__sbt {
  border: 0;
  width: 31px;
  height: 31px;
  background: url(../image/search.png) no-repeat 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 18px;
  -webkit-transition: right .5s;
  -o-transition: right .5s;
  -moz-transition: right .5s;
  transition: right .5s;
}

.search__ipt:focus + .search__sbt {
  right: 0;
}

.nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__item {
  padding: 0 29px;
}

.nav__item > a {
  font-size: 16px;
  line-height: 70px;
  display: block;
  color: #232323;
}

.nav__item > a:hover {
  color: #000;
  text-shadow: 0px 0px black;
}

.nav__item:hover > a, .nav__item.active > a {
  text-shadow: 0px 0px black;
}

.nav__item--parent {
  position: relative;
}

.nav__item--parent :hover + .nav__sublist:after,
.nav__item--parent .nav__sublist:hover:after {
  width: 100%;
}

.nav__sublist {
  position: absolute;
  display: none;
  left: 28px;
  top: 100%;
  width: 183px;
  background: rgba(0, 0, 0, 0.65);
  padding: 18px 0;
}

.nav__sublist:after {
  position: absolute;
  top: 0;
  width: 0;
  height: 2px;
  background: #fff200;
  display: block;
  content: '';
  -webkit-transition: .4s;
  -o-transition: .4s;
  -moz-transition: .4s;
  transition: .4s;
}

.nav__sublist--second {
  top: 0;
  left: 100%;
}

.nav__subitem {
  padding: 7px 0 6px;
}

.nav__subitem a {
  padding: 0 15px 0 30px;
  color: #fdfdfd;
  -webkit-transition: .5s;
  -o-transition: .5s;
  -moz-transition: .5s;
  transition: .5s;
  font-weight: 300;
  display: block;
  position: relative;
  transition: .5s;
  letter-spacing: .07em;
}

.nav__subitem a:before, .nav__subitem a:after {
  font-family: 'FontAwesome';
  content: "\f105";
  position: absolute;
  left: 18px;
  top: -1px;
  -webkit-transition: .5s;
  -o-transition: .5s;
  -moz-transition: .5s;
  transition: .5s;
  color: #fdfdfd;
}

.nav__subitem a:after {
  content: "\f101";
  left: 10px;
  opacity: 0;
}

.nav__subitem a:hover {
  color: #fff200;
  padding-left: 33px;
}

.nav__subitem a:hover:before {
  opacity: 0;
}

.nav__subitem a:hover:after {
  left: 18px;
  opacity: 1;
}

.nav__subitem a:hover:before, .nav__subitem a:hover:after {
  color: #fff200;
}

.nav__sublist .nav__item--parent:hover > a {
  color: #fff200;
  padding-left: 33px;
}

.nav__sublist .nav__item--parent:hover > a:before {
  opacity: 0;
}

.nav__sublist .nav__item--parent:hover > a:after {
  left: 18px;
  opacity: 1;
}

.nav__sublist .nav__item--parent:hover > a:before, .nav__sublist .nav__item--parent:hover > a:after {
  color: #fff200;
}

.search__mob,
.nav__btn {
  display: none;
}

@media (min-width: 1025px) {
  .search {
    display: block !important;
  }
}

@media (max-width: 1024px) {
  .nav {
    display: none;
  }
  .navbar {
    position: absolute;
    height: 100%;
    top: 0;
  }
  .search {
    display: none;
  }
  .search__ipt {
    background: #fff;
    color: #232323;
  }
  .search__ipt + .search__sbt {
    right: 0;
  }
  .header .container {
    max-width: 500px;
    position: relative;
  }
  .search__mob,
  .nav__btn {
    display: block;
    cursor: pointer;
  }
  .search__mob {
    width: 40px;
    height: 40px;
    background: url(../image/search.png) no-repeat 50%;
    position: relative;
    left: -13px;
  }
  .nav__btn {
    width: 40px;
    height: 40px;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 10px 5px;
    position: relative;
    right: -5px;
  }
  .nav__btn span {
    width: 30px;
    height: 2px;
    background: #232323;
    display: block;
    position: absolute;
    left: 5px;
    top: 19px;
  }
  .nav__btn span:nth-child(1) {
    top: 10px;
    -webkit-transition: .3s transform, .3s .3s top;
    -o-transition: .3s transform, .3s .3s top;
    -moz-transition: .3s transform, .3s .3s top;
    transition: .3s transform, .3s .3s top;
  }
  .nav__btn span:nth-child(2) {
    -webkit-transition: .3s opacity;
    -o-transition: .3s opacity;
    -moz-transition: .3s opacity;
    transition: .3s opacity;
  }
  .nav__btn span:nth-child(3) {
    top: 28px;
    -webkit-transition: .3s transform, .3s .3s top;
    -o-transition: .3s transform, .3s .3s top;
    -moz-transition: .3s transform, .3s .3s top;
    transition: .3s transform, .3s .3s top;
  }
  .nav__btn.active span:nth-child(1) {
    top: 19px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: .3s top, .3s .3s transform;
    -o-transition: .3s top, .3s .3s transform;
    -moz-transition: .3s top, .3s .3s transform;
    transition: .3s top, .3s .3s transform;
  }
  .nav__btn.active span:nth-child(2) {
    opacity: 0;
  }
  .nav__btn.active span:nth-child(3) {
    top: 19px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: .3s top, .3s .3s transform;
    -o-transition: .3s top, .3s .3s transform;
    -moz-transition: .3s top, .3s .3s transform;
    transition: .3s top, .3s .3s transform;
  }
  .search {
    position: absolute;
    left: 0;
    top: 100%;
  }
  .search__field {
    padding: 0;
  }
}

@media (max-width: 480px) {
  .search {
    padding: 0 15px;
    width: 100%;
  }
  .search__ipt {
    width: 100%;
  }
  .navbar {
    width: 100%;
    left: 0;
    z-index: -1;
  }
}

.mob {
  display: none;
}

@media (max-width: 1024px) {
  .mob {
    display: block;
    position: relative;
  }
  .mob__bg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(0, 0, 0, 0.75);
    -webkit-transition: .5s;
    -o-transition: .5s;
    -moz-transition: .5s;
    transition: .5s;
    z-index: 10;
    visibility: hidden;
  }
  .mob__wrapp {
    width: 500px;
    max-width: 70%;
    background: #fff;
    padding: 30px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    overflow: auto;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: .5s;
    -o-transition: .5s;
    -moz-transition: .5s;
    transition: .5s;
    z-index: 11;
  }
  .mob.active .mob__bg {
    opacity: 1;
    visibility: visible;
  }
  .mob.active .mob__wrapp {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
  .mob .nav {
    display: block;
  }
  .mob .nav__item {
    padding: 5px 0;
  }
  .mob .nav__item > a {
    line-height: normal;
    font-size: 18px;
  }
  .mob .nav__list {
    display: block;
  }
  .nav__sublist {
    position: static;
    background: none;
    padding: 10px 0 0;
    width: 100%;
  }
  .nav__sublist--second {
    padding: 5px 0 5px 15px;
  }
  .nav__sublist:after {
    display: none;
  }
  .nav__subitem {
    padding: 0;
  }
  .nav__subitem a {
    color: #232323;
    display: inline-block;
    font-size: 16px;
  }
  .nav__subitem a:before, .nav__subitem a:after {
    color: #232323;
  }
  .nav__subitem a:hover {
    color: #232323;
  }
  .nav__subitem a:hover:before, .nav__subitem a:hover:after {
    color: #232323;
  }
  .nav__sublist .nav__item--parent:hover > a {
    color: #232323;
  }
  .nav__sublist .nav__item--parent:hover > a:before, .nav__sublist .nav__item--parent:hover > a:after {
    color: #232323;
  }
}

.section--banner {
  padding: 0;
}

.banner__slider__item {
  min-height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.banner__slider__img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}

.banner__slider__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.banner__slider__img:after {
  display: block;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: -moz-linear-gradient(161deg, #503392 0%, #5c37a5 24%, #673ab7 49%, #00bff3 100%);
  background-image: -webkit-linear-gradient(161deg, #503392 0%, #5c37a5 24%, #673ab7 49%, #00bff3 100%);
  background-image: -ms-linear-gradient(161deg, #503392 0%, #5c37a5 24%, #673ab7 49%, #00bff3 100%);
  opacity: .8;
}

.banner__header {
  font-size: 64px;
  line-height: normal;
  color: #fff;
  letter-spacing: .055em;
  text-transform: uppercase;
  font-weight: bold;
}

.banner__txt {
  font-size: 16px;
  line-height: 30px;
  color: #fff;
  max-width: 700px;
  margin: 20px auto 0;
}

.section--banner .container {
  padding: 95px 70px 70px;
  position: relative;
  z-index: 4;
  text-align: center;
}

.slick-initialized .slick-slide {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.slick-arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 60px;
  width: 60px;
  left: 30px;
  border: 0;
  text-indent: -999px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.2) url(../image/arrow.png) no-repeat 50%;
  padding: 0;
  z-index: 3;
  -webkit-transform: translateY(35px);
  -moz-transform: translateY(35px);
  -ms-transform: translateY(35px);
  -o-transform: translateY(35px);
  transform: translateY(35px);
  -webkit-transition: .5s;
  -o-transition: .5s;
  -moz-transition: .5s;
  transition: .5s;
}

.slick-arrow:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.slick-next {
  left: auto;
  right: 30px;
  -webkit-transform: scale(-1, 1) translateY(35px);
  -moz-transform: scale(-1, 1) translateY(35px);
  -ms-transform: scale(-1, 1) translateY(35px);
  -o-transform: scale(-1, 1) translateY(35px);
  transform: scale(-1, 1) translateY(35px);
}

.slick-dots {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 39px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  height: 7px;
}

.slick-dots li + li {
  padding-left: 7px;
}

.slick-dots li.slick-active button {
  background: #fff;
}

.slick-dots li button {
  text-indent: -999px;
  overflow: hidden;
  width: 7px;
  height: 7px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #b7b7b7;
  border: 0;
  padding: 0;
  -webkit-transition: .5s;
  -o-transition: .5s;
  -moz-transition: .5s;
  transition: .5s;
}

@media (max-width: 1024px) {
  .banner__header {
    font-size: 35px;
  }
  .banner__txt {
    font-size: 14px;
    line-height: 28px;
  }
}

@media (max-width: 600px) {
  .section--banner .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.why__col {
  width: 20%;
  float: left;
  padding: 0 15px;
}

.why__list {
  margin-top: 85px;
}

.why__item {
  border: 1px solid #ebebeb;
  padding: 29px 15px 30px;
  position: relative;
}

.why__ico {
  color: #503392;
  font-size: 60px;
  line-height: normal;
  margin-bottom: 36px;
}

.why__hidden {
  position: absolute;
  left: 0;
  bottom: 0;
  background: #503392;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: .5s;
  -o-transition: .5s;
  -moz-transition: .5s;
  transition: .5s;
  width: 100%;
  z-index: 3;
  padding: 29px 15px 37px;
}

.why__hidden .section__title {
  margin-bottom: 27px;
}

.why__hidden__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.why__hidden__item {
  padding: 0 7px;
}

.why__hidden__item a {
  border: 1px solid #fff;
  color: #fff;
  font-size: 14px;
  width: 35px;
  height: 35px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: .5s;
  -o-transition: .5s;
  -moz-transition: .5s;
  transition: .5s;
}

.why__hidden__item a:hover {
  color: #503392;
  background: #fff;
}

.why__item:hover .why__hidden {
  opacity: 1;
  visibility: visible;
}

.fa-heart:before {
  content: "";
}

.fa-comment-alt:before {
  content: "";
}

.fa-laptop:before {
  content: "\f109";
}

.fa-star:before {
  content: "";
}

.fa-flag:before {
  content: "";
}

.fa-why-link:before {
  content: "";
}

.fa-search-plus:before {
  content: "\f00e";
}

@media (max-width: 1024px) {
  .why__list {
    margin-top: 20px;
  }
  .why__item {
    padding: 15px;
  }
  .why__col {
    width: 50%;
    margin-top: 30px;
  }
  .why__col:nth-child(2n+1):last-child {
    margin-left: 25%;
  }
  .why__ico {
    font-size: 40px;
    margin-bottom: 15px;
  }
  .why__hidden {
    position: static;
    opacity: 1;
    visibility: visible;
    background: none;
    padding: 15px 0 0;
  }
  .why__hidden .section__title {
    display: none;
  }
  .why__hidden__item a {
    color: #503392;
    background: #fff;
    border-color: #503392;
  }
  .why__hidden__item a:hover {
    color: #fff;
    background: #503392;
  }
}

@media (max-width: 400px) {
  .why__col {
    width: 100%;
  }
  .why__col:nth-child(2n+1):last-child {
    margin-left: 0;
  }
}

.about__txt {
  font-size: 14px;
  line-height: 25px;
  color: #373737;
  margin-top: 46px;
}

.about__img {
  margin-top: 72px;
  margin-right: -18px;
  text-align: right;
}

.about__img img {
  max-width: 100%;
}

.about--mobile {
  display: none;
}

.skill__list {
  margin-top: 36px;
  padding: 0 6px;
}

.skill__item {
  margin-top: 35px;
}

.skill__head {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: .05em;
  margin-bottom: 15px;
}

.skill__line {
  width: 100%;
  border: 1px solid #ddd;
  padding: 2px;
}

.skill__line__inner {
  width: 0;
  height: 3px;
  background: #009dda;
  -webkit-transition: 1s ease-in;
  -o-transition: 1s ease-in;
  -moz-transition: 1s ease-in;
  transition: 1s ease-in;
}

@media (max-width: 1024px) {
  .about--desctop {
    display: none;
  }
  .about--mobile {
    display: block;
    text-align: center;
    margin: 0;
  }
  .about--mobile img {
    max-width: 200px;
  }
  .about__txt {
    margin-top: 30px;
    text-align: center;
  }
  .skill__list {
    margin-top: 0;
  }
}

#map__item {
  height: 100%;
  width: 100%;
}

.footer__wrapp {
  padding: 37px 0 78px;
}

.contact {
  position: relative;
  padding: 100px 0;
}

.contact .container {
  position: relative;
  z-index: 4;
  max-width: 975px;
  margin: auto;
}

.contact:after {
  width: 100%;
  height: 100%;
  display: block;
  content: '';
  z-index: 3;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.65);
}

.contact__wrapp {
  background: rgba(0, 0, 0, 0.43);
  padding: 80px 67px 70px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.contact__form {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 490px;
  -moz-box-flex: 0;
  -ms-flex: 0 0 490px;
  flex: 0 0 490px;
  max-width: 490px;
  margin-right: 96px;
}

.contact__data {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-top: -6px;
}

.contact__data__box {
  color: #f3f3f3;
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 24px;
}

.contact__data__box:last-child {
  margin-bottom: 0;
}

.contact__data__box a {
  color: #f3f3f3;
}

.contact__data__box a:hover {
  text-shadow: 1px 1px rgba(255, 255, 255, 0.3);
}

.map {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.form__box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -7px 13px;
}

.form__box__item {
  padding: 0 7px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.form__box__item--select {
  position: relative;
}

.form__box__item--select:after {
  background: url(../image/select-arrow.png) no-repeat 50%;
  width: 9px;
  height: 6px;
  right: 28px;
  top: 0;
  bottom: 0;
  margin: auto;
  display: block;
  content: '';
  position: absolute;
}

.form__item {
  width: 100%;
  max-width: 100%;
  border: 1px solid #9a9999;
  padding-left: 24px;
  padding-right: 20px;
  color: #b7b7b7;
  font-size: 16px;
  background: none;
  height: 50px;
  padding-right: 10px;
  -webkit-transition: .5s;
  -o-transition: .5s;
  -moz-transition: .5s;
  transition: .5s;
  display: block;
}

.form__item option {
  color: #373737;
}

.form__item:focus {
  border-color: #fff;
  color: #fff;
}

.form__slt {
  padding-right: 40px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  line-height: normal;
  background: none;
  -webkit-background-size: 0 0;
  -moz-background-size: 0;
  -o-background-size: 0;
  background-size: 0;
}

.form__txt {
  height: 144px;
  resize: none;
  padding-top: 8px;
  padding-bottom: 5px;
}

.form__submit {
  width: 120px;
  height: 50px;
  border: 1px solid #fff200;
  background: #fff200;
  color: #373737;
  font-size: 16px;
  -webkit-transition: .5s;
  -o-transition: .5s;
  -moz-transition: .5s;
  transition: .5s;
  margin-left: auto;
  display: block;
}

.form__submit:hover {
  color: #fff200;
  background: none;
}

.form__check {
  display: none;
}

.form__check:checked + *:before {
  opacity: 1;
  visibility: visible;
}

.form__label {
  font-size: 16px;
  line-height: 24px;
  color: #9a9999;
  padding-left: 41px;
  position: relative;
  cursor: pointer;
  margin-top: 18px;
  display: inline-block;
}

.form__label:after {
  width: 23px;
  height: 23px;
  left: 0;
  top: 0;
  display: block;
  content: '';
  position: absolute;
  border: 1px solid #b7b7b7;
}

.form__label:before {
  width: 15px;
  height: 15px;
  left: 4px;
  top: 4px;
  display: block;
  content: '';
  position: absolute;
  background: #b7b7b7;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .5s;
  -o-transition: .5s;
  -moz-transition: .5s;
  transition: .5s;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: inherit;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: inherit;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: #b7b7b7;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: inherit;
}

@media (max-width: 1024px) {
  .contact {
    padding: 50px 0;
  }
  .contact .container {
    max-width: 500px;
  }
  .contact__wrapp {
    display: block;
    padding: 50px 30px;
  }
  .contact__form {
    margin-right: 0;
  }
  .contact__data {
    margin-top: 24px;
  }
}

@media (max-width: 600px) {
  .form__box {
    display: block;
  }
  .form__box__item + .form__box__item {
    margin-top: 13px;
  }
  .form__label {
    margin: 5px 0;
  }
  .form__submit {
    margin-left: 0;
  }
}

.copyright {
  background: #1a1a1a;
  padding: 15px 0;
}

.copyright .container-fluid {
  padding: 0 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.copyright .container-fluid:after, .copyright .container-fluid:before {
  display: none;
}

.copyright__txt {
  color: #7a7a7a;
  font-size: 16px;
  letter-spacing: .025em;
}

.soc__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.soc__item {
  margin-right: 29px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.soc__item a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: .5s;
  -o-transition: .5s;
  -moz-transition: .5s;
  transition: .5s;
}

.soc__item a:hover {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}

.soc__item:last-child {
  margin-right: 0;
}

@media (max-width: 600px) {
  .copyright .container-fluid {
    display: block;
    max-width: 500px;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
  }
  .copyright__txt {
    margin-bottom: 10px;
  }
  .soc__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
}
