/* 
reset style
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
	box-sizing: border-box;
    outline: none;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    transition: .5s opacity, .5s color, .5s background-color;
}

/* slick slider */

/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

/* 
main style
*/

.logo h1 {
    font-size: 0;
}


a,
a:hover,
a:focus,
a:active,
a:visited {
    display: inline-block;
    text-decoration: none;
}

img {
    display: inline-block;
    max-width: 100%;
    height: auto;
}

.img_cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.img_contain img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    object-position: 50% 50%;
}


.container {
    max-width: 920px;
}

.column {
    padding: 0 15px;
}

.section {
    padding: 40px 0;
}

.site__title {
    text-align: center;
    color: #fff;
    font-size: 28px;
    line-height: 26px;
    margin-bottom: 20px;
}

.site__title--pink {
    color: #fb226f;
}

.site__title--blue {
    color: #5a0fcb;
}

.site__title--black {
    color: #333;
}

.site__subtitle {
    text-align: center;
    color: #fff;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 15px;
}

/* header */

.nav__btn {
    display: none;
}

@media (max-width: 991px) {
    .nav__btn {
        display: block;
    }
}

.header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    background: #123e86;
    z-index: 22;
}

.header__logo {
    float: left;
    line-height: 1;
}

.header__logo a {
    padding: 8px 6px;
    display: inline-block;
}

.header__logo img {
    display: block;
}

.header__nav {
    float: right;
}

.nav__item {
    float: left;
}

.nav__item a {
    padding: 12px 18px 13px;
    color: #fff;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: .16em;
    transition: .5s;
}

.nav__item a:hover {
    background: #3261e3;
}

.nav__item--form a {
    background: #fa8425;
}

@media (max-width: 991px) {
    .nav__item a {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.shadow {
    display: none;
}

@media (min-width: 768px) {
    .nav__list {
        display: block !important;
    }
}

@media (max-width: 767px) {
    .header__nav {
        position: absolute;
        left: 0;
        top: 49px;
        width: 100%;
        z-index: 11;
    }

    .nav__item {
        border-top: 1px solid #fff;
        float: none;
    }

    .nav__item a {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        background: #123e86;
    }

    .nav__item--form a {
        background: #fa8425;
    }

    .nav__list {
        display: none;
    }

    .nav__btn {
        float: right;
        width: 60px;
        height: 49px;
        padding: 13px 10px;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        cursor: pointer;
    }

    .nav__btn span {
        width: 100%;
        display: block;
        height: 2px;
        background: #fa8425;
    }

    body.open {
        overflow: hidden;
    }

    .shadow {
        display: block;
        opacity: 0;
        visibility: hidden;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        position: fixed;
        z-index: 10;
        background: rgba(0, 0, 0, .6);
        transition: .5s;
    }

    body.open .shadow {
        opacity: 1;
        visibility: visible;
    }
}

/* banner */

.banner {
    padding-top: 115px;
    padding-bottom: 270px;
    position: relative;
}

#canvas-basic {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 7;
    background: linear-gradient(#1b4fe0, #fff);
}

.banner:after {
    background: url('../image/main-bg.png') no-repeat 50% 0;
    background-size: 100%;
    position: absolute;
    left: 0;
    top: 49px;
    width: 100%;
    height: 100%;
    display: block;
    content: '';
    z-index: 8;
}

.banner .container {
    position: relative;
    z-index: 9;
}

.banner__picture {
    width: 565px;
    float: left;
}

.banner__form {
    width: 355px;
    max-width: 100%;
    float: left;
}

.banner__picture__item img {
    width: auto;
    max-width: none;
    margin-top: -110px;
    margin-left: -45px;
}

.form__item__input,
.form__item__select {
    width: 100%;
    height: 45px;
    background: #dde5fa;
    color: #123e86;
    padding-left: 18px;
    padding-right: 10px;
    font-size: 11px;
    font-weight: 300;
    border: 0;
    letter-spacing: .1em;
}

.form__item__select {
    padding-right: 35px;
}

.form__item {
    margin-bottom: 35px;
}

.form__item--submit {
    margin-top: 33px;
    margin-bottom: 0;
    text-align: right;
}

.banner__form {
    margin-top: 50px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: inherit;
}
::-moz-placeholder { /* Firefox 19+ */
  color: inherit;
}
:-ms-input-placeholder { /* IE 10+ */
  color: inherit;
}
:-moz-placeholder { /* Firefox 18- */
  color: inherit;
}

.form__item--select {
    position: relative;
}

.form__item--select:after {
    content: url('../image/arrow-select.png');
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    display: block;
    line-height: 5px;
}

.form__item__submit {
    background: #fa8425;
    letter-spacing: .3em;
    font-size: 14px;
    width: 246px;
    height: 60px;
    border: 1px solid #fa8425;
    color: #fff;
    text-transform: uppercase;
    transition: .5s;
}

.form__item__submit:hover {
    color: #fa8425;
    background: #fff;
}

.scroll__down {
    text-align: center;
}

.scroll__down a {
    color: #123e86;
    font-size: 10px;
    line-height: 15px;
    letter-spacing: .1em;
    text-transform: uppercase;
}

.scroll__down__ico {
    position: relative;
    width: 14px;
    height: 25px;
    margin: 0 auto 5px;
}

.scroll__down__mouse {
    height: 19px;
    width: 14px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 2px solid #284c8f;
    border-radius: 8px 8px 7px 7px;
}

.scroll__down__cabl {
    width: 2px;
    height: 6px;
    background: #284c8f;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
}

.scroll__down__rol {
    width: 2px;
    height: 5px;
    background: #284c8f;
    position: absolute;
    left: 0;
    right: 0;
    top: 10px;
    margin: auto;
    animation: 2s infinite mouse;
}

@keyframes mouse {
  0 {
    transform: translateY(0);
  }

  50% {
    transform: translateY(3px);
  }

  100% {
    transform: translateY(0);
  }
}

#form__id {
    margin-top: -40px;
    padding-bottom: 40px;
}

@media (max-width: 991px) {
    .banner__picture {
        width: 385px;
    }
}

@media (max-width: 768px) {
    .banner__picture__item img {
        max-width: 100%;
        position: absolute;
    }

    .banner__picture  {
        position: relative;
        width: 100%;
    }

    .banner__form {
        float: right;
        padding-right: 30px;
        position: relative;
        z-index: 5;
    }

    .scroll__down {
        margin-top: 30px;
    }

    .banner__picture__item img {
        width: 420px;
        top: 70px;
    }
}

@media (max-width: 480px) {
    .banner__form {
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
        float: none;
        padding-right: 15px;
    }

    .form__item--submit {
        text-align: center;
        margin-top: 30px;
    }

    .messages {
        height: auto !important;
        margin: 0 !important;
    }

    .banner__picture__item img {
        top: 30px;
        width: 370px;
    }

    .site__title {
        font-size: 21px;
        line-height: 24px;
    }

    .site__subtitle {
        font-size: 14px;
        line-height: 21px;
    }

    .banner {
        padding-top: 100px;
    }
}

/* advantages */

.advantages {
    margin-top: -240px;
    position: relative;
    z-index: 10;
    padding-top: 40px;
    padding-bottom: 80px;
}

.advantages__item {
    padding: 0 15px;
    float: left;
    width: 20%;
    text-align: center;
}

.advantages__ico {
    height: 50px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.advantages__list {
    margin-top: 10px;
}

.advantages__item {
    margin-top: 50px;
}

.advantages__name {
    color: #9515d1;
    font-size: 14px;
    line-height: 21px;
    height: 42px;
    margin-top: 10px;
}

@media (max-width: 768px) {
    .advantages__item {
        width: 160px;
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .advantages__list  {
        text-align: center;
    }
}

@media (max-width: 480px) {
    .advantages__item {
        width: 140px;
    }

    .advantages__name {
        height: auto;
        font-size: 13px;
        line-height: 18px;
    }
}

/* about academy */

.about {
    padding: 40px 0;
    position: relative;
    z-index: 7;
}

.about__content {
    font-size: 14px;
    line-height: 28px;
    color: #333;
}

/* course */

.courses {
    background: #446fe6;
    max-width: 1200px;
    margin: auto;
    padding: 60px 0 70px;
    position: relative;
    z-index: 5;
}

.courses .container {
    max-width: 970px;
}

.courses__col {
    padding: 0 25px;
}

.courses__item,
.courses__item:hover,
.courses__item:focus,
.courses__item:active,
.courses__item:visited {
    color: #fff;
    display: block;
}

.courses__item {
    text-align: center;
}

.courses__item span {
    display: block;
}

.courses__name {
    text-transform: uppercase;
    margin-top: 15px;
    font-size: 21px;
    font-weight: 300;
    letter-spacing: .2em;
    margin-bottom: 16px;
    color: #fefeff;
}

.tab-pane {
    display: none;
}

.tab-pane.active {
    display: block;
}

.courses__item {
    background: #5a0fcb;
    padding: 35px 10px 55px;
    margin-top: 20px;
    transition: .5s;
    position: relative;
}

.courses__item--scratching {
    background: #6e44e6;
}

.courses__item.active {
    background: #9844e6;
    box-shadow: 0px 0px 30px 0px rgba(24, 70, 198, 0.7);
}

.courses__item .courses__ico {
    height: 107px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.courses__timing {
    position: relative;
    padding-top: 20px;
    color: #9470fb;
    transition: .5s;
    margin-bottom: 25px;
    height: 70px;
}

.courses__timing:after,
.courses__timing:before {
    width: 18px;
    height: 18px;
    display: block;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    margin: auto;
    transition: .5s;
}

.courses__timing:after {
    background: url('../image/clock.png') no-repeat 50%;
}

.courses__timing:before {
    background: url('../image/clock-blue-dark.png') no-repeat 50%;
}

.courses__item--light .courses__timing:before {
    background: url('../image/clock-blue.png') no-repeat 50%;
}

.courses__timing:after {
    opacity: 0;
}

.courses__timing:before {
    opacity: 1;
}

.courses__price {
    font-size: 72px;
    line-height: 60px;
    font-weight: 600;
}

.course__price__wrapp {
    color: #7b51f5;
    transition: .5s;
    transform: translateX(75px);
}

.courses__item--production .course__price__wrapp {
    transform: translateX(54px);
}

.courses__price .course__price__wrapp {
    display: inline-block;
    position: relative;
}

.courses__valut {
    position: absolute;
    font-size: 22px;
    line-height: 20px;
    color: #7b51f5;
    font-weight: normal;
    right: 3px;
    bottom: -25px;
    transition: .5s;
}

.courses__item.active .courses__timing:before,
.courses__item:hover .courses__timing:before {
    opacity: 0;
}

.courses__item.active .courses__timing:after,
.courses__item:hover .courses__timing:after {
    opacity: 1;
}

.courses__item.active .course__price__wrapp,
.courses__item.active .courses__timing,
.courses__item.active .courses__valut,
.courses__item:hover .course__price__wrapp,
.courses__item:hover .courses__timing,
.courses__item:hover .courses__valut {
    color: #fff;
    transform: translateX(0);
}

.courses__bounce {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    overflow: hidden;
}

.courses__wrapp {
    position: relative;
    z-index: 4;
}

.courses__bounce__item {
    position: absolute;
    border-radius: 50%;
    background: #520abf;
}

.courses__item.active .courses__bounce__item {
    background: #903cde;
}

.courses__item--production .courses__bounce__item--top {
    height: 320px;
    width: 320px;
    top: -85px;
    right: -80px;
    transition: .5s;
}

.courses__item--production.active .courses__bounce__item--top {
    right: -30px;
    transform: scale(1.3);
}

.courses__item--production .courses__bounce__item--bottom {
    height: 210px;
    width: 210px;
    bottom: -87px;
    left: -54px;
    transition: .5s;
    transform-origin: 50% 100%;
}

.courses__item--production.active .courses__bounce__item--bottom {
    left: 25%;
    transform: scale(0);
}

.courses__item--scratching .courses__bounce__item--top {
    height: 230px;
    width: 230px;
    top: -40px;
    left: -30px;
    transition: .5s;
}

.courses__item--scratching.active .courses__bounce__item--top {
    left: 30px;
    transform: scale(1.7);
}

.courses__item--scratching .courses__bounce__item--bottom {
    height: 340px;
    width: 340px;
    bottom: -135px;
    right: -110px;
    transition: .5s;
    transform-origin: 50% 100%;
}

.courses__item--scratching.active .courses__bounce__item--bottom {
    right: 25%;
    transform: scale(0);
}

.courses__item--mixing .courses__bounce__item--top {
    height: 310px;
    width: 310px;
    top: -100px;
    left: -30px;
    transition: .5s;
}

.courses__item--mixing.active .courses__bounce__item--top {
    left: -20px;
    transform: scale(1.6);
}

.courses__item--mixing .courses__bounce__item--bottom {
    height: 220px;
    width: 220px;
    bottom: -65px;
    right: -20px;
    transition: .5s;
    transform-origin: 50% 100%;
}

.courses__item--mixing.active .courses__bounce__item--bottom {
    right: 25%;
    transform: scale(0);
}

@media (max-width: 991px) {
    .courses__col {
        padding: 0 15px;
    }

    .course__price__wrapp {
        transform: translateX(40px);
    }

    .courses__item--production .course__price__wrapp {
        transform: translateX(30px)
    }

    .courses__price {
        font-size: 60px;
    }

    .courses {
        padding: 40px 0 50px;
    }
}

@media (max-width: 768px) {
    .courses__item {
        padding: 20px 15px 40px;
    }

    .courses__item .courses__timing {
        display: none;
    }

    .course__price__wrapp {
        transform: none !important;
    }

    .courses__price {
        font-size: 48px;
    }

    .courses__valut {
        bottom: -15px;
    }
}

/* course content */

.course__content {
    background: #900fd3;
    margin-top: -150px;
    padding-top: 150px;
    overflow: hidden;
    position: relative;
}

.course__content:after {
    background: url('../image/courses-bounce.png') no-repeat 50%;
    width: 323px;
    height: 469px;
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    display: block;
    z-index: 2;
}

.course__content:before {
    background: url('../image/courses-line.png') no-repeat 50% 70%;
    width: 100%;
    background-size: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    display: block;
    z-index: 2;
}

.course__content .container {
    position: relative;
    z-index: 3;
}

.course__header {
    max-width: 680px;
    background: linear-gradient(to right, #850cc4, #900fd3);
    margin-left: -40px;
    padding: 20px 15px 20px 40px;
    color: #fff;
    font-weight: 600;
    font-size: 36px;
    line-height: 36px;
    letter-spacing: .2em;
    text-transform: uppercase;
    margin-bottom: 40px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
}

.course__header span {
    display: inline-block;
    margin-right: 20px;
}

.course__header span img {
    max-width: 80px;
    height: auto;
    margin-bottom: -5px;
}

.tab-pane {
    padding: 65px 0;
}

.course__option {
    border-bottom: 1px solid #b83afa;
    padding-bottom: 15px;
    margin-bottom: 40px;
    color: #c25bf8;
    font-size: 14px;
}

.course__option > div {
    display: inline-block;
    vertical-align: top;
}

.course__option > div + div {
    margin-left: 40px;
}

.course__time {
    padding-right: 26px;
    background: url('../image/clock-fiolet.png') no-repeat 100% 50%;
}

.course__dificult {
    padding-right: 30px;
    background: url('../image/stars.png') no-repeat 100% 50%;
}

.course__subtitle {
    color: #ebeffc;
    font-size: 21px;
    line-height: 36px;
    font-weight: 600;
    padding-left: 20px;
    position: relative;
    margin-bottom: 20px;
}

.course__subtitle:before {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 16px;
    display: block;
    content: '';
    background: #fff;
}

.course__text p {
    font-size: 15px;
    line-height: 24px;
    font-weight: 300;
    color: #fff;
}

.course__text p + p {
    margin-top: 24px;
}

.course__box {
    margin-bottom: 44px;
}

.course__describe {
    padding-right: 320px;
    position: relative;
}

.course__box--image {
    position: absolute;
    right: -240px;
    top: 00px;
}

#production .course__box--image {
    right: -140px;
}

.course__teachers {
    border-top: 1px solid #fff;
    padding-top: 40px;
}

.teachers__wrapp {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.teachers__col__avatar {
    flex: 0 0 60px;
    max-width: 60px;
    margin-right: 20px;
    margin-top: 5px;
    height: 60px;
}

.teachers__col__avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.teachers__info {
    flex: 1;
    color: #fff;
    line-height: 24px;
    font-size: 15px;
    font-weight: 300;
}

.teachers__name {
    font-size: 18px;
    font-weight: normal;
}

.teachers__col {
    margin-bottom: 20px;
}

.course__btn {
    text-align: center;
    margin-top: 30px;
}

.btn--course {
    background: #fa8425;
    letter-spacing: .3em;
    font-size: 14px;
    max-width: 100%;
    width: 330px;
    height: 60px;
    line-height: 58px;
    border: 1px solid #fa8425;
    color: #fff;
    text-transform: uppercase;
    transition: .5s;
}

.btn--course:hover {
    color: #fa8425;
    background: #fff;
}

@media (max-width: 768px) {
    .course__describe {
        padding-right: 0;
    }

    .course__box--image {
        position: static !important; 
        text-align: center;
    }

    .course__box--image img {
        max-width: 100%;
        width: 350px;
    }

    .course__option > div {
        /* display: block; */
    }

    .course__option > div + div {
        margin: 0;
    }

    .course__option > div {
        margin-right: 30px;
    }

    .tab-pane {
        padding: 40px 0;
    }
}

@media (max-width: 480px) {
    .course__subtitle {
        font-size: 18px;
        line-height: 24px;
    }

    .course__subtitle:before {
        top: 10px;
    }

    .course__option > div {
        margin-right: 0;
    }

    .course__header {
        font-size: 30px;
    }
}

/* review */

.review {
    position: relative;
    padding-bottom: 80px;
}

.review__container {
    overflow: hidden;
}

#reviews {
    margin-top: -40px;
    margin-bottom: 40px;
}

.review:after {
    width: 100%;
    height: 64.92647058823529vw;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    content: '';
    z-index: 3;
    background: url('../image/review-bg.jpg') no-repeat 50% 0;
    background-size: 100%;
}

.review:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: -2.928257686676428vw;
    background: url('../image/course-wile.png') no-repeat 50%;
    background-size: 100%;
    width: 100%;
    height: 12.15226939970717vw;
    z-index: 4;
}

.review .container {
    position: relative;
    z-index: 5;
}

.review__slider {
    margin: 60px -20px 0;
}

.review__slider .slick-list {
    overflow: visible;
}

.review__column {
    padding: 0 20px;
}

.review__item {
    background: #3f6be5;
    padding: 30px 40px 35px;
}

.review__item--light {
    background: #6487ea;
}

.review__item--dark {
    background: #214eca;
}

.review__item + .review__item {
    margin-top: 40px;
}

.review__info {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.review__avatar {
    flex: 0 0 75px;
    max-width: 75px;
    margin-right: 25px;
    height: 75px;
    border-radius: 50%;
}

.review__avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.review__text {
    color: #fff;
    font-size: 14px;
    line-height: 28px;
}

.review__name {
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
}

.review__position {
    color: #fff;
    text-transform: uppercase;
}

.review__describe {
    flex: 1;
}

@media (max-width: 768px) {
    .review {
        padding-bottom: 0;
    }

    .review__item {
        padding: 20px 15px 30px;
    }
}

/* get */

.get {
    position: relative;
    z-index: 6;
    padding: 50px 0 70px;
}

.get__list {
    max-width: 600px;
    margin: 50px auto 0; 
}

.get__item {
    position: relative;
    min-height: 100px;
}

.get__item--left {
    padding-right: 355px;
    text-align: right;
}

.get__item--right {
    padding-left: 355px;
}

.get__title {
    font-size: 21px;
    font-weight: 600;
    padding-bottom: 15px;
}

.get__item:before {
    position: absolute;
    left: 0;
    top: -2px;
    right: 0;
    margin: auto;
    width: 70px;
    height: 70px;
    border: 8px solid #fff;
    background: #446fe6;
    display: block;
    content: '';
}

.get__item:after {
    background: repeating-linear-gradient(#363636 0px, #363636 4px, #fff 4px, #fff 8px);
    height: 100%;
    height: calc(100% - 68px);
    width: 1px;
    left: 0;
    right: 0;
    top: 68px;
    margin: auto;
    display: block;
    position: absolute;
    content: '';
}

.get__item:last-child {
    margin-top: -70px;
}

.get__item:last-child:after {
    background: #fff;
    top: 60px;
}

@media (max-width: 768px) {
    .get__list {
        width: 100%;
    }

    .get__item {
        padding-left: 80px;
        padding-right: 0;
        text-align: left;
    }

    .get__item:before {
        right: auto;
        left: -8px;
    }

    .get__item:last-child {
        margin-top: 0;
        margin-bottom: 0;
    }

    .get__item {
        padding-bottom: 30px;
    }

    .get__item:after {
        left: 27px;
        right: auto;
    }
}

@media (max-width: 480px) {
    .get__title {
        font-size: 18px;
        line-height: 24px;
    }
}

/* contact */

.contact {
    background: #123e86;
    overflow: hidden;
}

#map iframe {
    width: 100%;
    height: 100%;
}

#map {
    height: 800px;
    width: 50vw;
    width: calc(50vw + 30px);
}

.contact__col {
    float: left;
    width: 355px;
}

.map__col {
    width: 490px;
    float: right;
}

.contact__form .form__item--submit {
    text-align: left;
    margin-top: 50px;
}

.form__title {
    padding-left: 52px;
    font-size: 24px;
    line-height: 32px;
    font-weight: 300;
    color: #fff;
    background: url('../image/free-lesson.png') 0 5px no-repeat;
    margin-bottom: 25px;
}

.form__title--top {
    font-size: 16px;
    line-height: 32px;
    padding-left: 35px;
    background: url('../image/free-header.png') 0 50% no-repeat;
}

.contact__form {
    margin-top: 55px;
}

.contact__col {
    padding-top: 55px;
}

.location,
.phone {
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    color: #fff;
}

.location {
    padding-top: 36px;
    background: url('../image/location.png') no-repeat 0 0;
}

.phone {
    padding-top: 36px;
    margin-top: 40px;
    background: url('../image/whatup.png') no-repeat 4px 0,
                url('../image/viber.png') no-repeat 42px 0;
}

.phone span {
    font-weight: bold;
}

@media (max-width: 991px) {
    .map__col {
        width: 370px;
    }

    #map {
        width: calc(45vw + 30px);
    }
}

@media (max-width: 768px) {
    .contact__col {
        width: 100%;
        float: none;
    }

    .map__col {
        width: 100%;
        float: none;
        margin-top: 40px;
    }

    #map {
        height: 400px;
        width: 100%;
    }
}

/* footer */

.footer {
    padding: 40px 0;
    text-align: center;
    background: #052b68;
    position: relative;
    line-height: 1;
    z-index: 6
}

@media (max-width: 480px) {
    .footer {
        padding: 30px 0;
    }
}

.messages {
    height: 20px;
    margin-top: -20px;
}