/* 
reset style
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
	box-sizing: border-box;
    outline: none;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    transition: .5s opacity, .5s color, .5s background-color;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/HelveticaNeue.eot');
    src: url('../fonts/HelveticaNeue.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeue.woff') format('woff'),
        url('../fonts/HelveticaNeue.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/HelveticaNeue-Medium.eot');
    src: url('../fonts/HelveticaNeue-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeue-Medium.woff') format('woff'),
        url('../fonts/HelveticaNeue-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/HelveticaNeue-Bold.eot');
    src: url('../fonts/HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeue-Bold.woff') format('woff'),
        url('../fonts/HelveticaNeue-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: 'Helvetica Neue';
    font-size: 15px;
    line-height: 1.2;
    letter-spacing: .01em;
}

p {
    margin-bottom: 15px;
}

/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}


/* 
main style
*/

a {
    display: inline-block;
    transition: .5s;
}
 
a,
a:focus,
a:hover {
    text-decoration: none;
}

img {
    display: inline-block;
    max-width: 100%;
    height: auto;
}

.img_cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.img_contain img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    object-position: 50% 50%;
}

.center {
    text-align: center;
}

@media (max-width: 767px) {
    .container {
        padding: 0 30px;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 0 15px;
    }
}

/* header */

.header {
    position: relative;
    z-index: 6;
}

.header__top {
    background: rgba(19, 19, 19, .96);
    padding: 40px 0;
}

.header__wrapp {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__box__title {
    font-size: 14px;
    line-height: 20px;
    color: #8f8f8f;
}

.header__box__content a,
.header__box__content span {
    font-size: 17px;
    line-height: 20px;
    letter-spacing: .05em;
    color: #dbdbdb;
    font-weight: 500;
}

.header__box__content a:hover {
    color: #fff;
}

.header__box {
    position: relative;
    padding-left: 55px;
}

.header__box .fa {
    position: absolute;
    left: 0;
    top: 5px;
}

.fa-phone:before {
    content: url(../image/call.svg);
    width: 34px;
    height: 34px;
    display: inline-block;
}

.fa-mail:before {
    content: url(../image/email.svg);
    width: 34px;
    height: 34px;
    display: inline-block;
}

.fa-time:before {
    content: url(../image/clock.svg);
    width: 34px;
    height: 34px;
    display: inline-block;
}

.fa-search:before {
    content: url(../image/search.svg);
    width: 18px;
    height: 18px;
    display: inline-block;
}

.fa-location:before {
    content: url('../image/Combined Shape.svg');
    width: 12px;
    height: 16px;
    display: inline-block;
}

.fa-phone-footer:before {
    content: url('../image/phone.svg');
    width: 16px;
    height: 16px;
    display: inline-block;
}


.fa-mail-small:before {
    content: url('../image/email-min.svg');
    width: 16px;
    height: 16px;
    display: inline-block;
}

.logo a,
.logo img {
    display: block;
}

.nav__item--list {
    display: none;
}

.header__bottom {
    background: rgba(27, 27, 27, .96);
}

.nav {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    transition: .5s;
}

.nav__item {
    flex: 1 0 auto;
    text-align: center;
}

.nav__item > a {
    padding: 19px 15px;
    display: block;
    height: 100%;
}

.nav a {
    line-height: 18px;
    font-size: 14px;
    color: #f8f8f8;
}

.nav__item a:hover {
    background: #2d2d2d;
    color: #c5c5c5;
}

.nav a .fa {
    color: #f8f8f8;
}

.nav__item a:hover .fa {
    color: #c5c5c5;
}

.nav__item--search img,
.nav__item--search svg {
    width: 18px;
    height: 18px;
}

.nav__item a:hover path + path {
    fill: #c5c5c5;
}

.dropdown-menu {
    left: auto;
    right: 0;
    background: #232323;
    min-width: 200px;
}

@media (max-width: 991px) {
    .nav__item > a {
        padding: 19px 10px;
    }

    .header__box--time {
        display: none;
    }
}

@media (max-width: 767px) {
    .nav__item--mobile {
        display: none;
    }

    .nav__item {
        flex: 0 1 auto;
    }

    .nav__item > a {
        padding: 19px 15px;
    }

    .nav__item--list {
        display: block;
    }

    .nav__item--list .nav__item--mobile {
        display: block;
    }

    .nav__item--list .nav__item--tel,
    .nav__item--list .nav__item--mobile2 {
        display: none;
    }

    .header__box--mail {
        display: none;
    }
}

@media (max-width: 590px) {
    .nav__item--mobile2 {
        display: none;
    }

    .nav__item--list .nav__item--mobile2 {
        display: block;
    }
}

.nav__item--list .dropdown-menu a {
    padding: 5px 15px;
}

@media (max-width: 480px) {
    .nav__item--tel {
        display: none;
    }

    .nav__item--list .nav__item--tel {
        display: block;
    }

    .header__box {
        padding-left: 0;
    }

    .header__box .fa {
        display: none;
    }

    .header__box__content a, 
    .header__box__content span {
        font-size: 15px;
        letter-spacing: .01em;
    }

    .header__top {
        padding: 25px 0;
    }
}

/* main banner */

.main__banner {
    background: url('../image/main_bg.jpg') no-repeat 50% 100%;
    background-size: cover;
    font-size: 16px;
    line-height: 25px;
}

.main__banner .container {
    position: relative;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    padding: 100px 30px;
    flex-direction: column;
    min-height: 650px;
}

.main__title {
    font-weight: 500;
    font-size: 48px;
    margin-bottom: 15px;
    line-height: 45px;
    text-shadow: 3px 3px 1px rgba(255,255,255, .5);
}

.banner__content {
    max-width: 550px;
    position: relative;
    z-index: 3;
}

.btn {
    display: inline-block;
    padding: 15px 20px;
    background: #4697f3;
    border-radius: 2px;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    transition: .5s;
    box-shadow: none;
    border: 0;
}

.btn:hover {
    background: #232323;
    color: #fff;
}

.btn__wrapp--banner {
    margin-top: 30px;
}

@media (max-width: 991px) {
    .main__banner .container {
        min-height: 550px;
    }
}

@media  (max-width: 767px) {
    .banner__content {
        max-width: none;
    }
}

@media (max-width: 480px) {
    .main__banner .container {
        padding: 80px 30px;
    }
}

@media (max-width: 400px) {
    .main__banner .container {
        padding: 60px 15px;
    }
}

/* section */

.section {
    padding: 120px 0;
}

.section-grey {
    background: #f2f2f2;
    background-image: -moz-linear-gradient( 54deg, rgb(237,237,237) 0%, rgb(255,255,255) 100%);
    background-image: -webkit-linear-gradient( 54deg, rgb(237,237,237) 0%, rgb(255,255,255) 100%);
    background-image: -ms-linear-gradient( 54deg, rgb(237,237,237) 0%, rgb(255,255,255) 100%);
}

.section__wrapp__title {
    max-width: 600px;
}

.section__title {
    font-size: 32px;
    font-weight: 500;
    line-height: 37px;
    margin-bottom: 15px;
}

.section__title--white {
    color: #fff;
}

.section__title + p {
    color: #656565;
}

.fa-guaranty:before {
    content: url('../image/guaranty.png')
}

.fa-origion:before {
    content: url('../image/origion.png')
}

.fa-fast:before {
    content: url('../image/fast.png')
}

.fa-display:before {
    content: url('../image/display.png')
}

.fa-water:before {
    content: url('../image/water.png')
}

.fa-money:before {
    content: url('../image/money.png')
}

.fa-battery:before {
    content: url('../image/battery.png')
}

.fa-visitka:before {
    content: url('../image/visitka.png')
}

.fa-shirt:before {
    content: url('../image/format.png')
}

.fa-format:before {
    content: url('../image/format.png')
}

.fa-photoservice:before {
    content: url('../image/photoservice-ico.png')
}

.repair__item {
    background: #f8f8f8;
}

.repair__item--white {
    background: #fff;
}

.section__item {
    margin-bottom: 30px;
    padding: 30px 30px 15px;
}

.section__list {
    margin-bottom: -30px;
    margin-top: 55px;
}

.section__subtitle {
    font-size: 18px;
    font-weight: 500;
    color: #2d2d2d;
    margin-bottom: 10px;
}

.section__item p {
    font-size: 14px;
    line-height: 16px;
    color: #a2a2a2;
}

.repair__item > .fa {
    height: 52px;
    margin-bottom: 25px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.repair__info {
    margin-bottom: 15px;
}

@media (max-width: 991px) {
    .section {
        padding: 80px 0;
    }
}

@media (max-width: 767px) {
    .section {
        padding: 55px 0 30px;
    }

    .section__list {
        margin-top: 30px;
    }

    .section__item {
        padding: 25px 30px 10px;
    }
}

@media (max-width: 480px) {
    .section__title {
        font-size: 26px;
        line-height: 30px;
    } 
}

/* our-service */

.our-service__item {
    position: relative;
    min-height: 350px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    transition: .5s;
}

.background__img {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.our-service__wrapp {
    z-index: 2;
}

.our-service__wrapp {
    max-width: 280px;
    margin-right: 60px;
}

.our-service__item:hover {
  box-shadow: 0px 25px 60px 0px rgba(0, 0, 0, 0.2);
}

.section__link {
    width: 40px;
    height: 40px;
    border-radius: 2px;
    background: url('../image/arrow.png') #232323 no-repeat 50% 50%;
    position: absolute;
    right: 30px;
    bottom: 30px;
    opacity: 0;
    transition: .5s;
}

.our-service__item:hover .section__link {
    opacity: 1;
}

.section__link:hover {
    background-color: #4697f3;
}

@media (max-width: 767px) {
    .section__link {
        opacity: 1;
        bottom: 25px;
    }

}

/* reshenie-problem */

.input_radio {
    display: none;
}

.reshenie-problem {
    padding-bottom: 0;
}

.input-text {
    width: 100%;
    height: 40px;
    border: 1px solid #eaeaea;
    border-radius: 2px;
    box-shadow: none;
    padding-left: 16px;
    color: #939393;
    font-size: 14px;
    outline: none;
    letter-spacing: .01em;
}

.input-textarea {
    height: 100px;
    padding-top: 10px;
    resize: none;
}

.input-btn {
    height: 40px;
    padding: 11px 20px;
    min-width: 120px;
}

.form__row {
    margin-top: 10px;
}

.form__row--margin {
    margin-top: 30px;
}

.form__row--radio {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    margin-left: -5px;
    margin-right: -5px;
}

.input__box {
    padding: 0 5px;
    flex: 1;
}

.input__box label {
    display: block;
    width: 100%;
    text-align: center;
    padding: 20px 15px 18px;
    border: 1px solid #eaeaea;
    border-radius: 2px;
    background: #fff;
    cursor: pointer;
}

.input__box input:checked + label {
    background: #f3f3f3;
}

.input__box input:checked + label .input__ico svg {
    fill: #7f7f7f;
}

.input__box span {
    display: block;
}

.input__box .input__ico {
    height: 60px;
    width: auto;
}

.input__box .input__ico img,
.input__box .input__ico svg {
    width: 100%;
    max-height: 100%;
}

.input__box .name {
    color: #989797;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 20px;
}

.form__cena {
    max-width: 370px;
    margin-top: 30px;
}

.cena__remont {
    max-width: 430px;
}

.cena__remont p {
    color: #a2a2a2;
}

.cena__remont-col {
    padding-left: 0;
}

.section__title--mobile {
    display: none;
}

@media  (max-width: 1200px) {
    .cena__remont-col {
        padding-left: 15px;
    }
}

@media  (max-width: 991px) {
    .section__title--mobile {
        display: block;
    }

    .section__title--mobile br {
        display: none;
    }

    .section__title--desctop {
        display: none;
    }

    .section-grey .section__title {
        margin-bottom: 30px;
    }
}

@media  (max-width: 767px) {
    .cena__remont-col {
        float: none !important;
    }

    .section-grey {
        background-image: -moz-linear-gradient( 54deg, rgb(237,237,237) 0%, rgb(255,255,255) 100%);
        background-image: -webkit-linear-gradient( 54deg, rgb(237,237,237) 0%, rgb(255,255,255) 100%);
        background-image: -ms-linear-gradient( 54deg, rgb(237,237,237) 0%, rgb(255,255,255) 100%);
    }

    .cena__remont {
        max-width: none;
        margin-bottom: 65px;
    }

    .phone__picture {
        text-align: center;
    }

    .phone__picture img {
        width: 100%;    
    }
}

/* polomki */

.consult {
    background: url('../image/consult.png') no-repeat 50% 50% #1e76ee;
    background-size: cover;
    padding: 55px 15px 50px;
    margin-bottom: 170px;
}

.btn__wrapp--consult {
    margin-top: 25px;
}

.polomki {
    background: url('../image/polomki.png') 50% 90px no-repeat;
    background-size: cover;
    padding-top:  0;
    padding-bottom: 80px;
}

.polomki.section-grey {
    background: #f2f2f2;
    background-image: -moz-linear-gradient( 54deg, rgb(237,237,237) 0%, rgb(255,255,255) 100%);
    background-image: -webkit-linear-gradient( 54deg, rgb(237,237,237) 0%, rgb(255,255,255) 100%);
    background-image: -ms-linear-gradient( 54deg, rgb(237,237,237) 0%, rgb(255,255,255) 100%);
    padding-top: 125px;
}

.polomki-about {
    padding-top: 125px;
    background: #fff;
}

.section__btn {
    margin-top: 20px;
}

.section__btn a,
.section__btn .fa {
    color: #289aea;
    font-size: 15px;
}

.section__btn a:hover,
.section__btn a:hover .fa {
    color: #232323;
}

@media (max-width: 991px) {
    .repair__info {
        height: auto !important;
    }

    .polomki.section-grey {
        padding-top: 80px;
    }
}

@media (max-width: 767px) {
    .consult {
        margin-bottom: 90px;
    }

    .polomki {
        padding-top: 30px;
    }

    .polomki.section-grey {
        padding-top: 60px;
    }
}

/* review */

.review__wrapp {
    background: #f8f8f8;
    margin-bottom: 0;
    height: 100%;
}

.section__subname {
    color: #a2a2a2;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 12px;
}

.rating {
    font-size: 16px;
    color: #f8b72b;
    margin: 12px 0 15px;
}

.fa-star-o:before {
    content: "\f005";
    color: #dcdcdc;
}

.review__item p {
    color: #4c4b4b;
    font-size: 14px;
    line-height: 24px;
}

.section__slider {
    margin-left: -15px;
    margin-right: -15px;
}

.section__slider .slick-slide {
    padding: 0 15px;
}

.review__slider {
    margin-top: 55px;
}

.slick-arrow {
    box-shadow: none;
    border: 0;
    text-indent: -999px;
    overflow: hidden;
    padding: 0;
    width: 19px;
    height: 15px;
    background: url('../image/arrow long-active.svg');
    background-size: 19px;
    position: absolute;
    cursor: pointer;
    top: -65px;
    right: 15px;
}

.slick-arrow.slick-disabled {
    background: url('../image/arrow long.svg');
}

.slick-prev {
    transform: rotate(180deg);
    right: 55px;
}

.slick-track {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.slick-slide {
    height: auto !important;
    outline: none;
}

.slick-slide a {
    outline: none;
}

@media  (max-width: 767px) {
    .slick-arrow {
        bottom: -55px;
        top: auto;
        right: 15px;
    }

    .slick-prev {
        left: 15px;
        right: auto;
    }

    .review {
        padding-bottom: 120px;
    }

    .slick-list {
        overflow: visible;
    }

    .section__slider {
        padding-right: 40px;
        margin-top: 30px;
    }

    .review {
        overflow: hidden;
    }
}

@media (max-width: 400px) {
    .section__slider {
        padding-right: 0;
    }
}

/* footer */ 

.footer {
    background: #f8f8f8;
}

.footer__top {
    padding: 70px 0 50px;
    border-bottom: 1px solid #e3e3e3;
    color: #a2a2a2;
    font-size: 14px;
    line-height: 20px;
}

.footer__top p {
    margin: 0;
}

.logo--footer a {
    display: inline-block;
}

.logo--footer {
    margin-bottom: 25px;
}

.footer__title {
    color: #454545;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 20px;
}

.footer__item a,
.footer__item span {
    font-size: 14px;
    color: #8c8c8c;
    display: inline-block;
}

.footer__item a:hover {
    color: #232323;
}

.footer__item {
    line-height: 14px;
}

.footer__item {
    margin-bottom: 16px;
}

.footer__item:last-child {
    margin-bottom: 0;
}

.footer__item--contact {
    padding-left: 45px;
    position: relative;
}

.footer__item--contact .fa {
    position: absolute;
    left: 0;
}

.footer__bottom {
    line-height: 18px;
    padding: 25px 0;
}

.copyright {
    font-size: 12px;
    color: #a7a7a7;
}

.soc__item {
    padding: 0 11px;
}

.soc__item a .fa {
    color: #a7a7a7;
}

.soc__item a:hover .fa {
    color: #232323;
}

.soc__list {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
}

.logo__yourfuture {
    text-align: right;
}

.logo__yourfuture img {
    width: 135px;
}

@media (max-width: 991px) {
    .col-center {
        margin: 40px 0;
    }

    .logo--footer {
        margin-bottom: 20px;
    }

    .footer__top {
        padding: 40px 0;
    }

    .col-bottom {
        clear: both;
    }
}

@media  (max-width: 767px) {
    .logo__yourfuture__wrapp {
        display: none;
    }

    .soc__list {
        justify-content: flex-end;
        margin: 0 -11px;
    }
}

@media (max-width: 480px) {
    .footer__bottom .row > div {
        width: 100%;
    }

    .soc__list {
        justify-content: flex-start;
        margin-bottom: 20px;
    }
}

/* iphone */

.main__banner--inner {
    background: #fff;
    position: relative;
}

.banner__photo--iphone {
    position: absolute;
    right: 30px;
    bottom: -170px;
}

.main__banner .container {
    position: relative;
    height: 100%;
}

@media (max-width: 991px) {
    .banner__photo--iphone img {
        width: 400px;
    }

    .banner__photo--iphone {
        bottom: -130px;
    }

    .main__banner--inner .banner__content {
        width: 50%;
    }
}

@media (max-width: 767px) {
    .banner__photo--iphone {
        bottom: 0;
        margin: auto;
        right: 0;
    }

    .banner__photo--iphone img {
        width: 40vw;
    }

    .main__banner--inner .banner__content {
        width: 260px;
    }

    .main__banner .container {
        margin-left: 0;
        min-height: 70vw;
    }
}

@media (max-width: 480px) {
    .banner__photo--iphone img {
        width: 100%;
    }

    body {
        overflow-x: hidden;
    }

    .banner__photo--iphone {
        bottom: -100px;
        left: 200px;
        width: 320px;
    }
}

/* tabs */

.tabpanel {
    margin-top: 60px;
}

.tab-content > .tab-pane {
    display: none;
    visibility: hidden;
}

.tab-content > .active {
    display: block;
    visibility: visible;
}

.tab__link {
    display: block;
    border: 1px solid #eaeaea;
    border-radius: 2px;
    background: #fff;
    padding: 10px;
    text-align: center;
    min-width: 108px;
    transition: .5s;
}

.tab__link span {
    display: block;
}

.tab__link .tab__ico {
    height: 60px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 7px;
    margin-top: 5px;
}

.tab__ico img {
    max-height: 100%;
}

.tab__name {
    font-size: 12px;
    font-weight: 500;
    color: #696969;
    transition: .5s;
}

.tab__list {
    margin: 0 -5px;
}

.tab__item {
    padding: 0 5px;
    margin-bottom: 10px;
    float: left;
}

.tab__item.active .tab__link {
    background: #f3f3f3;
}

.tab__item.active .tab__name {
    color: #989797;
}

.tab-content {
    margin-top: 20px;
}

.table {
    width: 100%;
    letter-spacing: .05em;
}

.th,
.table__header {
    text-align: left;
    background: #f0f1f4;
    color: #7d7d7d;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
}

.td,
.panel-title a {
    background: #f5f5f5;
    color: #545454;
    font-size: 14px;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    transition: .5s;
}

.td,
.th,
.table__header,
.panel-title a {
    padding: 17px 20px 16px;
}

.td,
.th {
    vertical-align: middle;    
}

.td b {
    font-weight: bold;
}

.th b {
    font-weight: bold;
    color: #2d2d2d;
}

.table-responsive + .table-responsive {
    border-top: 1px solid #fff;
}

.panel-title a {
    display: block;
    position: relative;
    padding-right: 40px;
    border-right: 0;
}

.panel-title a .fa {
    position: absolute;
    right: 20px;
    transition: .5s;
}

.panel-title a.collapsed .fa {
    transform: scale(1, -1);
}

.panel-title a.collapsed {
    background: #f5f5f5;
}

.panel-title a {
    background: #eee;
}

.panel-collapse.collapsed {
    background: #f5f5f5;   
}

.td:last-child {
    border-right: 0;
}

.td-btn {
    padding: 0;
}

.td-cartridge {
    max-width: 300px;
    word-wrap: break-word;
}

.btn-table {
    height: 50px;
    padding: 19px 20px 17px;
    width: 100%;
    text-align: center;
    background: none;
    color: #4697f3;
    border-radius: 0;
}

.btn-table:hover {
    background-color: #4697f3;
    color: #fff;
}

.tr:hover .td {
    background: #fbfbfb;
}

.panel-collapse {
    background: #eee;
    padding: 0 20px 0;
}

.table__row {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    padding: 0 0 20px;
    margin: 0 -5px;
}

.table__row:first-child {
    padding-top: 10px;
}

.table__item {
    flex: 0 0 50%;
    color: #545454;
    font-size: 14px;
    padding: 0 5px;
}

.btn-collapse {
    width: 100%;
    text-align: center;
    height: 50px;
    padding: 18px 20px;
}

.table__row--btn {
    padding: 0 0 20px;
    margin: 0;
}

.table__row--name {
    margin: 0;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: .05em;
    font-size: 14px;
    color: #545454;
    padding-bottom: 30px;
}

.table-mobile {
    display: none;
}

.table-responsive {
    overflow: auto;
    position: relative;
}

.table-responsive::-webkit-scrollbar {
    height: 6px;
    background-color: #F5F5F5;
}

.table-responsive::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

.table-responsive::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.table-arrow {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    font-size: 15px;
    color: #2d2d2d;
    right: 10px;
    top: 15px;
    transition: .3s;
    width: 15px;
    text-align: center;
}

.table-left {
    right: 40px;
}

.overflow {
    opacity: 1;
    visibility: visible;
}

.table-left.left-full {
    opacity: 0;
    visibility: hidden;
}

.tab_select {
    display: none;
}

@media (max-width: 767px) {
    .tab__list {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        overflow: auto;
        margin: 0;
    }

    .tab__item {
        flex: 1 0 auto;
    }

    .tab__item:first-child {
        padding-left: 0;
    }

    .tab__item:last-child {
        padding-right: 0;
    }

    .tab__list::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
        background-color: #F5F5F5;
    }

    .tab__list::-webkit-scrollbar {
        height: 6px;
        background-color: #F5F5F5;
    }

    .tab__list::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: #555;
    }

    .table-desctop {
        display: none;
    }

    .table-mobile {
        display: block;
    }

    .tabpanel {
        margin-top: 35px;
    }

    .tab-content {
        margin-top: 30px;
    }

    .table-photos {
        display: block;
    }

    .table-responsive {
        margin-right: -30px;
    }

    .table-photos:after {
        position: absolute;
        top: 0;
        right: 0;
        width: 30px;
        background: url('../image/mask_table.png') repeat-y 0 0;
        /* content: ''; */
        display: block;
        background-size: 100%;
        height: 100%;
    }


    .table-arrow {
        right: 25px;
    }

    .table-left {
        right: 55px;
    }

    .tab_nav {
        display: none;
    }

    .tab_select {
        display: block;
    }
}

@media (max-width: 480px) {
    .table-responsive {
        margin-right: -15px;
    }
}

/* consultation */

.consultation__wrapp {
    background: url('../image/consultation.png') no-repeat 100px 0,
                linear-gradient(0deg, #efefef, #fff);
    padding: 60px 0 125px;
}

.consultation__wrapp .row {
    margin: 0;
}

.consultation {
    padding: 0;
}

@media (max-width: 1200px) {
    .consultation__wrapp {
        background-size: 300px, auto;
        background-position: 75px 0, 0 0;
    }
}

@media (max-width: 991px) {
    .consultation__wrapp {
        background-size: 300px, auto;
        background-position: 30px 100%, 0 0;
    }
}

@media (max-width: 767px) {
    .consultation__item {
        margin-left: 30%;
    }

    .consultation__wrapp {
        background-position: -125px 0, 0 0;
        padding: 70px 0 50px;
    }

    .consultation {
    }

    .consultation .container {
        padding: 0;
    }
}

@media (max-width: 480px) {
    .consultation__item {
        margin-left: 70px;
        background-size: 250px, auto;
    }
}

/* modal */

.modal-dialog {
    width: 830px;
    max-width: 100%;
}

.modal-content {
    border: 0;
    border-radius: 0;
}

.modal-backdrop.in {
    opacity: .8;
}

.modal-body {
    padding: 50px 60px 60px 15px;
}

.close {
    position: absolute;
    background: url('../image/close.svg') no-repeat 50% 50%;
    background-size: 8px;
    width: 14px;
    height: 14px;
    top: 17px;
    right: 17px;
    border: 0;
    box-shadow: none;
}

.consultation__modal {
    background: url('../image/consultation.png') no-repeat 40px 100%,
                linear-gradient(0deg, #efefef, #fff);
    background-size: 310px, auto;
    min-height: 550px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.modal-body {
    position: static;
}

.modal-content {
    position: relative;
}

@media (max-width: 767px) {
    .consultation__modal {
        background-position: -100px 100%, 0 0;
        background-size: 270px, auto;
        min-height: 300px;
    }

    .consultation__modal-thank {
        background-position: -100px 30px, 0 0;
    }

    .consultation__modal .cena__remont {
        margin-bottom: 0;
    }

    .modal-body {
        padding: 50px 15px 30px;
    }
}

/* ipad */

.banner__photo--ipad {
    position: absolute;
    left: 350px;
    width: auto;
    width: 1160px;
    top: 120px;
}

body {
    overflow-x: hidden;
}

@media (max-width: 1200px) {
    .banner__photo--ipad {
        left: 300px;
        width: 1050px;
        top: 150px;
    }
}

@media (max-width: 991px) {
    .banner__photo--ipad {
        left: 250px;
        width: 800px;
        top: 180px;
    }
}

@media (max-width: 767px) {
    .banner__photo--ipad {
        left: 40%;
        width: 100vw;
        top: 30vw;
    }
}

@media (max-width: 480px) {
    .banner__photo--ipad {
        left: 150px;
        width: 400px;
        top: 200px;
    }
}

/* cartridge */

.banner__photo--cartridge {
    position: absolute;
    left: 300px;
    width: auto;
    width: 1226px;
    top: 100px;
}

@media (max-width: 1200px) {
    .banner__photo--cartridge {
        left: 200px;
        width: 1050px;
        top: 150px;
    }
}

@media (max-width: 991px) {
    .banner__photo--cartridge {
        left: 150px;
        width: 800px;
        top: 180px;
    }
}

@media (max-width: 767px) {
    .banner__photo--cartridge {
        left: 30%;
        width: 120vw;
        top: 20vw;
    }
}

@media (max-width: 480px) {
    .banner__photo--cartridge {
        left: 50px;
        width: 600px;
        top: 140px;
    }
}

/* photos */

.select {
    width: 100%;
    height: 50px;
    padding-left: 23px;
    border-radius: 2px;
    border: 1px solid #eaeaea;
    color: #696969;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .05em;
    padding-right: 40px;
}

.select__wrapp {
    position: relative;
}

.select__wrapp .fa {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    margin: auto;
}

.banner__photo--photoservice {
    position: absolute;
    left: 550px;
    width: auto;
    width: 922px;
    top: -120px;
}

@media (max-width: 1200px) {
    .banner__photo--photoservice {
        left: 470px;
        width: 700px;
        top: 80px;
    }
}

@media (max-width: 991px) {
    .banner__photo--photoservice {
        left: 300px;
        width: 600px;
        top: 50px;
    }
}

@media (max-width: 767px) {
    .banner__photo--photoservice {
        left: 50%;
        width: 70vw;
        top: 10vw;
    }
}

@media (max-width: 480px) {
    .banner__photo--photoservice {
        left: 245px;
        width: 600px;
        top: -100px;
    }
}

/* work */

.work {
    padding-top: 0;
}

.work__wrapp {
    display: block;
    height: 270px;
}

.work__slider {
    margin-top: 45px;
}

.work__slider .slick-arrow {
    top: -70px;
}

.work__slider .slick-list {
    overflow: visible;
}

@media (max-width: 767px) {
    .work__slider .slick-arrow {
        top: auto;
        bottom: -55px;
    }

    .work {
        padding-bottom: 100px;
        padding-top: 40px;
    }

    .work__slider {
        margin-top: 30px;
    }

    .work__wrapp {
        height: 45vw;
        min-height: 270px;
    }
}

/* about */

.main__banner--about {
    background: url('../image/about.jpg') no-repeat 50% 50%;
    background-size: cover;
}

.main__banner--about p {
    font-size: 13px;
    color: #4c4b4b;
    margin-top: 25px;
}

.main__banner--about .light {
    color: #656565;
}

.service-about {
    padding-top: 0;
}

.consultation-about {
    margin-bottom: 50px;
}

@media  (max-width: 767px) {
    .main__banner--about {
        background-position: 55% 50%;
    }   

    .consultation-about {
        margin-bottom: 0;
    }
}

/* reviews */

.star-rating{
    font-size: 0;
}
.star-rating__wrap{
    display: inline-block;
    font-size: 27px;
}
.star-rating__wrap:after {
    content: "";
    display: table;
    clear: both;
}
.star-rating__ico{
    float: right;
    display: block;
    cursor: pointer;
    color: #FFB300;
    padding-left: 7px;
}
.star-rating__ico:last-child {
    padding-left: 0;
}
.star-rating__input{
    display: none;
}
.star-rating__ico:hover:before,
.star-rating__ico:hover ~ .star-rating__ico:before,
.star-rating__input:checked ~ .star-rating__ico:before {
    color: #f8b72b;
}

.review__box {
    position: relative;
}

.section__date {
    position: absolute;
    color: #a2a2a2;
    font-size: 12px;
    font-weight: 500;
    right: 0;
    top: 5px;
}

.review__box .section__subtitle {
    padding-right: 100px;
}

.review__block {
    padding-right: 0;
}

.review__box {
    padding: 0 0 27px;
    margin-top: 25px;
    border-bottom: 1px solid #eeeeee;
}

.review__box p {
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    color: #4c4b4b;
    margin-bottom: 0;
}

.review__list {
    margin-top: 50px;
}

.review__new {
    padding: 25px 30px 30px;
    background: #f8f8f8;
    max-width: 400px;
    margin-left: auto;
}

.form__review .select {
    padding-left: 16px;
    color: #939393;
    font-size: 14px;
    font-weight: normal;
    height: 40px;
    letter-spacing: .01em;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: inherit;
}
::-moz-placeholder { /* Firefox 19+ */
  color: inherit;
}
:-ms-input-placeholder { /* IE 10+ */
  color: inherit;
}
:-moz-placeholder { /* Firefox 18- */
  color: inherit;
}

.form__review .select__wrapp .fa {
    color: #939393;
}

.form__review {
    margin-top: 30px;
}

.form__row--rating {
    margin-top: 25px;
}

.form__row--rating p {
    color: #777;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 15px;
}

.textarea-review {
    height: 180px;
}

.pagination__list {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    margin: 40px 0 0;
}

.pagination__item {
    margin-right: 2px;
}

.pagination__item span,
.pagination__item a {
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 2px;
    font-size: 12px;
    font-weight: bold;
    line-height: 38px;
    text-align: center;
    border: 1px solid transparent;
    transition: .3s;
    display: block;
}

.pagination__item a {
    background: #f8f8f8;
    border-color: #f8f8f8;
    color: #2d2d2d;
}

.pagination__item span {
    color: #fff;
    border-color: #242424;
    background: #242424;
}

.pagination__item a:hover {
    color: #fff;
    background: #4697f3;
}

.reviews {
    padding-bottom: 100px;
    padding-top: 95px;
}

@media (max-width: 1200px) {
    .review__block {
        padding-right: 15px;
    }
}

@media (max-width: 991px) {
    .review__new {
        max-width: 100%;
        margin-top: 40px;
    }

    .review__new__block {
        float: none !important;
    }

    .reviews {
        padding: 70px 0;
    }
}

@media (max-width: 767px) {
    .review__new {
        max-width: none;
        margin: 40px -30px 0;
    }

    .reviews {
        padding-bottom: 0;
        padding-top: 50px;
    }
}

@media (max-width: 480px) {
    .review__new {
        margin: 40px -15px 0;
        padding: 25px 15px;
    }
}

/* contact */

.contact__page {
    background: url('../image/contact.jpg') no-repeat 50% -150px;
}

.contact__section {
    padding-top: 100px;
}

.map__item {
    height: 460px;
    max-width: 600px;
}

#map {
    width: 100%;
    height: 100%;
}

.contact__block {
    padding-left: 0;
}

.footer__list--contact {
    margin: 30px 0;
}

.item--mail a {
    text-decoration: underline;
}

@media (max-width: 1200px) {
    .map__item {
        max-width: 500px;
        height: 400px;
    }
}

@media (max-width: 991px) {
    .contact__block {
        float: none !important;
        padding-left: 15px;
        margin-bottom: 40px;
    }

    .map__item {
        max-width: 100%;
    }

    .contact__section {
        padding-top: 80px;
    }
}

@media (max-width: 767px) {
    .map__item {
        margin: 0 -30px;
        max-width: none;
    }

    .contact__section {
        padding-top: 55px;
    }

    .contact__page {
        background-position: 50% -130px;
    }
}

@media (max-width: 480px) {
    .map__item {
        margin: 0 -15px;
        max-width: none;
    }

    .contact__page {
        background-position: 50% -170px;
    }
}

/* search */

.search {
    padding-top: 55px;
    padding-bottom: 60px;
}

.search__title {
    font-size: 16px;
    font-weight: 500;
    color: #8d8d8d;
}

.search__item p {
    font-size: 14px;
    color: #8d8d8d;
    margin-bottom: 12px;
    line-height: 15px;
}

.search__item p:last-child {
    margin-bottom: 0;
}

.search__item p a {
    color: #289aea;
    text-decoration: underline;
}

.search__item p a:hover {
    text-decoration: none;
}

.search__item {
    padding: 0 0 30px;
    margin-top: 25px;
    border-bottom: 1px solid #eeeeee;
}

.search__list {
    border-top: 1px solid #eeeeee;
    margin-top: 30px;
}

.search__item .section__subtitle {
    margin-bottom: 15px;
}

.search__wrapp {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 60px;
    transition: .5s;
    opacity: 0;
    visibility: hidden;
}

.nav__wrapp {
    position: relative;
}

.search__form {
    position: relative;
    padding: 5px 0;
    height: 60px;
}

.search__ipt {
    width: 100%;
    padding-left: 38px;
    border: 0;
    margin-right: 20px;
    border-radius: 0;
    background: none;
    box-shadow: none;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: .05em;
    height: 50px;
    display: block;
    background: url('../image/search.svg') no-repeat 0 50%;
    background-size: 18px;
    color: #6c6c6c;
}

.seacrh__sbt {
    display: none;
}

.seacrh__close {
    position: absolute;
    width: 12px;
    height: 12px;
    background: url('../image/close_white.svg') no-repeat 50% 50%;
    background-size: 8px;
    top: 0;
    bottom: 0;
    margin: auto;
    right: -2px;
}

.nav__wrapp.search__active .nav {
    opacity: 0;
    visibility: hidden;
}

.nav__wrapp.search__active .search__wrapp {
    opacity: 1;
    visibility: visible;
}