.about {
	&__txt {
		font-size: 14px;
		line-height: 25px;
		color: #373737;
		margin-top: 46px;
	}

	&__img {
		margin-top: 72px;
		margin-right: -18px;
		text-align: right;

		img {
			max-width: 100%;
		}
	}

	&--mobile {
		display: none;
	}
}

.skill {
	&__list {
		margin-top: 36px;
		padding: 0 6px;
	}

	&__item {
		margin-top: 35px;
	}

	&__head {
		display: flex;
		justify-content: space-between;
		font-size: 13px;
		font-weight: bold;
		letter-spacing: .05em;
		margin-bottom: 15px;
	}

	&__line {
		width: 100%;
		border: 1px solid #ddd;
		padding: 2px;

		&__inner {
			width: 0;
			height: 3px;
			background: #009dda;
			transition: 1s ease-in;
		}
	}
}

@media (max-width: 1024px) {
	.about {
		&--desctop {
			display: none;
		}

		&--mobile {
			display: block;
			text-align: center;
			margin: 0;

			img {
				max-width: 200px;
			}
		}

		&__txt {
			margin-top: 30px;
			text-align: center;
		}
	}
	
	.skill {
		&__list {
			margin-top: 0;
		}
	}
}