/* 
* Variables
*/

$primary-color: #232323;
$second-color: #333;
$nav-subitem-color: #fdfdfd;
$section-header-color: #232323;
$color-text: #999;
$banner-header-color: #fff;
$inline-primary-color: #fff200;
$inline-second-color: #009dda;
$why-ico-color: #503392;
$why-ico-border-color: #fff;

// font

$helvetica: 'Helvetica';
$beyno: 'BEYNO';
$lato: 'Lato';